/*************************************************
**************************************************

Website Name: 
Website URL: 
Website Author: Tabitha Turton
Author URL: tabithaturton.com
Copyright 2017. All Rights Reserved.

Color Guide
***************

*************************************************

Type Guide
***************


Debugging Tools
***************
border: 1px solid #fff;

*************************************************/

/************************************************
*************************************************
0. CSS Reset ------------------------ 
1. Universal Styles -----------------
2. Header & Nav Styles -------------- 
3. Main Body Styles ----------------- 
4. Sidebar Styles ------------------- 
5. Widget Styles --------------------
6. Footer Styles -------------------- 
7. Comments & Form Styles ----------- 
8. Generic Styles ----------- 
*************************************************
************************************************/

/*----------------------------------------------
------------------------------------------------
0. CSS Reset
------------------------------------------------
----------------------------------------------*/
:root {
    --bg-color: #E5E5E5;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072861;
    --light-blue100: #F3F5FC;
    --negro: #0A070F;
    --violet:#d7d2eb ;
    --violethover:#e8e5f5;
    --violetlight:#594b88 ;
    --violetdark: #312559;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    outline-style: none;
}

html {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    box-sizing: border-box;
    height: 100vh;
    min-height: 100%;
}

a {
	outline: none;
	text-decoration: none;
}
body {
    min-height: 100vh;
}

/*----------------------------------------------
------------------------------------------------
1. Universal Styles
------------------------------------------------
----------------------------------------------*/
.body__container {
    background: linear-gradient(180deg, #e5e3ed 0%, #d7d2eb 80%, #b59fe7 100%);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .4fr 1.3fr .12fr .2fr 1fr;
    position: relative;
    min-height: 100vh;
}

@media only screen and (min-width: 640px) {
    .body__container {
        grid-template-rows: .4fr 1.3fr .12fr .3fr 1fr;
    }
}

@media only screen and (min-width: 1024px) {
    .body__container {
        grid-template-columns: 2.2fr 1fr;
        grid-template-rows: .3fr 1.3fr .12fr .2fr;
        grid-template-areas: 
    ". result"
    ". result"
    ". result"
    ". result"; 
    }
}

/*----------------------------------------------
------------------------------------------------
Logo
------------------------------------------------
----------------------------------------------*/

.body__logo-container img {
    width:100px;
    padding:1rem;
    
}

.body__logo-container {
    display: flex;
    align-items: center;
}

.body__logo-container h1 {
    font-size: 24px;
}

@media only screen and (min-width: 640px) {
    .body__logo-container img {
        width:150px;;
    }
}

/*----------------------------------------------
------------------------------------------------
Text Area
------------------------------------------------
----------------------------------------------*/
.body__input-container {
    display: flex;
    justify-content: center;
}

.input__textarea {
    padding: 0;
    border: 0;
    width: 80%;
    resize: none;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    background-color:transparent;
    color: var(--negro);
    animation: fadein .4s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@media only screen and (min-width: 640px) {
    .input__textarea {
        width: 80%;
    }
}
/*----------------------------------------------
------------------------------------------------
Advice text
------------------------------------------------
----------------------------------------------*/
.body__advice-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    gap:1rem;

}
.advice__inner {
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
    gap: 10px;
}

.advice__select {
    border:none;
    height: fit-content;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: var(--violetdark);
    color: var(--violet);
    border-radius: 7px;
    font-size: 18px;
    margin-left: 3rem;
    margin-right: 3rem;
}

@media only screen and (min-width: 640px) {
    .body__advice-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        gap:0;
    
    }
    .advice__inner {
        width: auto;
        max-width: none;
        padding-left: 0;
        margin: 0;
       
    }   
    .advice__select {
        margin-left: 0;
    margin-right: 0;
    }
}
@media only screen and (min-width: 1024px) {

    .advice__inner {
        width: auto;
        max-width: none;
        padding-left: 0;
        margin: 0;
       
    }   
    .body__advice-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        gap:0;
    }

    .advice__select {
        margin-left: 0;
    margin-right: 0;
    }
    
}
/*----------------------------------------------
------------------------------------------------
Cipher button
------------------------------------------------
----------------------------------------------*/
.body__btns-container {
    display: flex;
    justify-content: center;
}

.btns__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
} 

.cipher-btn__encriptar {
    width: 90vw;
    height: 67px;
    background: var(--violetdark);
    border-radius: 24px;
    border: 1px solid var(--violetdark);
    color: white;
    font-size: 18px;
}
.cipher-btn__encriptar:hover {
    background-color: var(--violetlight);
}
.cipher-btn__encriptar:active {
    background-color: var(--negro);
}
.cipher-btn__desencriptar {
    width: 90vw;
    height: 67px;
    color: var(--negro);
    background-color: var(--violet);
    border-radius: 24px;
    border: 1px solid var(--dark-blue-300);
    font-size: 18px;
}
.cipher-btn__desencriptar:hover {
    background-color: var(--violethover);
}
.cipher-btn__desencriptar:active {
    background-color: var(--violet);
}

@media only screen and (min-width: 640px) {
    .btns__inner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0px;
        gap: 24px;
    } 
    .cipher-btn__desencriptar {
        width: 40vw;
        max-width: 24rem;
        height: 67px;
    }
    .cipher-btn__encriptar {
        width: 40vw;
        max-width: 24rem;
        height: 67px;

    }
}
@media only screen and (min-width: 1024px) {
    #form {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .cipher-btn__desencriptar {
        width: 28rem;
        max-width: 30vw;
        height: 67px;
    }
    .cipher-btn__encriptar {
        width: 28rem;
        max-width: 30vw;
        height: 67px;

    }
}
/*----------------------------------------------
------------------------------------------------
RESULT
------------------------------------------------
----------------------------------------------*/
.body__result-inner {
    padding: 1rem;
}
.result__empty, .result__response {
    background-color: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.result__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    animation: fadein .4s;
}

.result__response {
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    overflow: auto;
    max-height: 95vh;
    animation: fadein .4s;
    
}

.result__btn-copy {
    width: 80%;
    height: 67px;
    color: var(--dark-blue-300);
    background-color: var(--light-blue100);
    border-radius: 24px;
    border: 1px solid var(--dark-blue-300);
    margin-top: 4rem;
}
.result__btn-copy:active {
    background-color: var(--violet);
}

.text-cipher {
    animation: fadein .4s;
}
@media only screen and (min-width: 640px)  {
    .result__empty {
        display: flex;
    }
    .result__response {
        display: none;
        max-height: 95vh;
        padding: 1rem;
    }
}
@media only screen and (min-width: 1024px) {
    .body__result-container {
        grid-area: result;
        
    }
    .body__result-inner {
        padding: 0rem;
        height: 95%;
        
    }
    .result__empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        height: 95%;
        margin-top: 2rem;
        margin-right: 2rem;
    }

    .result__response {
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        height: 95%;
        margin-top: 2rem;
        margin-right: 2rem;
        max-height: 95vh;
    }
}