/*************************************************
**************************************************

Website Name: 
Website URL: 
Website Author: Tabitha Turton
Author URL: tabithaturton.com
Copyright 2017. All Rights Reserved.

Color Guide
***************

*************************************************

Type Guide
***************


Debugging Tools
***************
border: 1px solid #fff;

*************************************************/

/************************************************
*************************************************
0. CSS Reset ------------------------ 
1. Universal Styles -----------------
2. Header & Nav Styles -------------- 
3. Main Body Styles ----------------- 
4. Sidebar Styles ------------------- 
5. Widget Styles --------------------
6. Footer Styles -------------------- 
7. Comments & Form Styles ----------- 
8. Generic Styles ----------- 
*************************************************
************************************************/

/*----------------------------------------------
------------------------------------------------
0. CSS Reset
------------------------------------------------
----------------------------------------------*/
:root {
    --bg-color: #E5E5E5;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072861;
    --light-blue100: #F3F5FC;
    --negro: #272430;
    --violet:#d7d2eb ;
    --violethover:#e8e5f5;
    --violetlight:#594b88 ;
    --violetdark: #312559;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    outline-style: none;
}

html {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    box-sizing: border-box;
    height: 100vh;
    min-height: 100%;
}

a {
	outline: none;
	text-decoration: none;
}
body {
    min-height: 100vh;
}
@font-face {
    font-family: 'Tommy';
    src: url('./assets/fonts/MADE Tommy Soft Medium PERSONAL USE.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'TommyLight';
    src: url('./assets/fonts/MADE Tommy Soft Light PERSONAL USE.otf') format('opentype');
  
  }
  @font-face {
    font-family: 'TommyRegular';
    src: url('./assets/fonts/MADE Tommy Soft Regular PERSONAL USE.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: 'TommyBold';
    src: url('./assets/fonts/MADE TOMMY ExtraBold_PERSONAL USE.otf') format('opentype');
    font-style: normal;
    font-weight: bold;
  }
/*----------------------------------------------
------------------------------------------------
1. Universal Styles
------------------------------------------------
----------------------------------------------*/
.body__container {
    background: linear-gradient(180deg, #c6c6c4 0%, #acaba5 20%, #aeada0 100%);
    
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .4fr 1.3fr .12fr .2fr 1fr;
    position: relative;
    min-height: 100vh;
    
}
 


@media only screen and (min-width: 640px) {
    .body__container {
        grid-template-rows: .4fr 1.3fr .12fr .3fr 1fr;
    }
}

@media only screen and (min-width: 1024px) {
    .body__container {
        grid-template-columns:1.5fr 3.5fr;
        grid-template-rows: .3fr 1.3fr .12fr .2fr;
        grid-template-areas: 
    ". result"
    ". result"
    ". result"
    ". result"; 

    }
    @media only screen and (min-width: 1240px){
        .body__container {
            grid-template-columns: 2.3fr 1.1fr;
        }
    }
}

/*----------------------------------------------
------------------------------------------------
Logo
------------------------------------------------
----------------------------------------------*/

.body__logo-container img {
    width:80px;
    padding:0.2rem;
    
}

.body__logo-container {
    display: flex;
    align-items: center;
}

.body__logo-container h1 {
    font-size: 24px;
    font-family: 'TommyRegular';
    color: var(--negro);
}
.body__logo-container h2 {
    font-size: 14px;
    font-family: 'TommyLight';
    color: var(--negro);
}

@media only screen and (min-width: 640px) {
    .body__logo-container img {
        width:150px;
        padding:1rem;
    }
    .body__logo-container h1 {
        font-size: 2.4rem;
    }
    .body__logo-container h2 {
        font-size: 18px;
    }
}

/*----------------------------------------------
------------------------------------------------
Text Area
------------------------------------------------
----------------------------------------------*/
.body__input-container {
    display: flex;
    justify-content: center;
    
}

.input__textarea {
    padding: 0;
    border: 0;
    width: 80%;
    resize: none;
    font-family: 'TommyLight';
    font-size: 32px;
    background-color:transparent;
    color: var(--negro);
    
    animation: fadein .4s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@media only screen and (min-width: 640px) {
    .input__textarea {
        width: 80%;
    }
}
/*----------------------------------------------
------------------------------------------------
Advice text
------------------------------------------------
----------------------------------------------*/
.body__advice-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    gap:1rem;
    justify-content:center
}
.advice__inner {
    display: flex;
    justify-content: flex-center;
    padding-left: 3rem;
    gap: 10px;
}
.advice__inner p {
    font-family: 'TommyLight';
}
.advice__select {
    border:none;
    height: fit-content;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #272430;
    color: var(--violet);
    border-radius: 7px;
    font-size: 18px;
    margin-left: 2.2rem;
    margin-right: 2.2rem;
}
.advice__select:hover {
    background-color: #393930;
    
}

@media only screen and (min-width: 640px) {
    .body__advice-container {
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: row;
        gap:1;
    
    }
    .advice__inner {
        width: auto;
        max-width: none;
        padding-left: 0;
        margin: 0;
        justify-content:center;
       
    }   
    .advice__select {
        margin-left: 0;
    margin-right: 0;
    }
}
@media only screen and (min-width: 1024px) {

    .advice__inner {
        width: auto;
        max-width: none;
        padding-left: 0;
        margin: 0;
        justify-content:center
       
    }   
    .body__advice-container {
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: row;
        gap:1;
    }

    .advice__select {
        margin-left: 0;
    margin-right: 0;
    }
    
}
/*----------------------------------------------
------------------------------------------------
Cipher button
------------------------------------------------
----------------------------------------------*/
.body__btns-container {
    display: flex;
    justify-content: center;
}

.btns__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
} 

.cipher-btn__encriptar {
    width: 90vw;
    height: 67px;
    background: #272430;
    border-radius: 24px;
    border: 1px solid var(--violetdark);
    color: white;
    font-size: 18px;
    font-family: 'Tommy';
    letter-spacing: 1px;
    transition-property: all;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
    cursor: pointer;
    z-index: 99;
}

.cipher-btn__encriptar:hover {
    background-color: #dadcca;
    color: #2f3024;
    border: 1px solid #dadcca;
}
.cipher-btn__encriptar:active {
    background-color: #b3b5a4;
}
.cipher-btn__desencriptar {
    width: 90vw;
    height: 67px;
    color: var(--negro);
    background-color: #e5e3ed;
    border-radius: 24px;
    border: 1px solid var(--violet);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.41);
    font-size: 18px;
    font-family: 'Tommy';
    letter-spacing: 1px;
    transition-property: all;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
    cursor: pointer;
    z-index: 100000;
}
    
.cipher-btn__desencriptar:hover {
    background-color: #2f3024;
    color: #dadcca;
    border: 1px solid #2f3024;
}
.cipher-btn__desencriptar:active {
    background-color: #1a1b13;
}

@media only screen and (min-width: 640px) {
    .btns__inner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0px;
        gap: 24px;
    } 
    .cipher-btn__desencriptar {
        width: 40vw;
        max-width: 24rem;
        height: 67px;
    }
    .cipher-btn__encriptar {
        width: 40vw;
        max-width: 24rem;
        height: 67px;

    }

}
@media only screen and (min-width: 1024px) {
    #form {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .cipher-btn__desencriptar {
        width: 28rem;
        max-width: 30vw;
        height: 67px;
    }
    .cipher-btn__encriptar {
        width: 28rem;
        max-width: 30vw;
        height: 67px;

    }
}
/*----------------------------------------------
------------------------------------------------
RESULT
------------------------------------------------
----------------------------------------------*/
.body__result-inner {
    padding: 1rem;
    
}
.result__empty, .result__response {
    background-color: #cbcabcad;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.41);
    border-radius: 15px;
}

.result__empty {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    animation: fadein .4s;

}
.result__empty h2 {
    font-family: 'TommyLight';
    font-style: italic;
}

.result__made-text {
    font-size: 13px;
    font-style: italic;
    padding-top: 1rem;
    padding-bottom: 4rem;
    margin-top: 1rem;
    border-top: 1px solid #2a1f50b8;
}

.result__response {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    overflow: auto;
    max-height: 95vh;
    animation: fadein .4s;
    
    
    
}

.result__btn-copy {
    width: 80%;
    height: 67px;
    color: var(--violetdark);
    background-color: var(--light-blue100);
    border-radius: 24px;
    border: 1px solid var(--dark-blue-300);
    margin-top: 4rem;
    font-size: 18px;
    font-family: 'Tommy';
}
.result__btn-copy:active {
    background-color: var(--violet);
}

.text-cipher {
    animation: fadein .4s;
    font-family: 'TommyLight';
    font-weight: 300;
    font-size: 18px;
}
@media only screen and (min-width: 640px)  {
    .result__empty {
        display: flex;
    }
    .result__response {
        display: none;
        max-height: 95vh;
        padding: 1rem;
    }
}
@media only screen and (min-width: 1024px) {
    .body__result-container {
        grid-area: result;
        
    }
    .body__result-inner {
        padding: 0rem;
        height: 98%;
        
    }
    .result__empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        height: 95%;
        margin-top: 2rem;
        margin-right: 2rem;
    }

    .result__response {
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        height: 95%;
        margin-top: 2rem;
        margin-right: 2rem;
        max-height: 95vh;
    }
}